@font-face {
    font-family: Oswald-Light;
    src: url(fonts/Oswald-Light.ttf);
}



body{
    background-color: hsl(87, 10%, 21%);
    margin-left: 25px;
    display: flow-root;


}

h1{
    font-family: Oswald-Light;
}
h2{
    font-family: Oswald-Light;
}
a{
    font-family: Oswald-Light;
}

h1{
    color: darkred;
}
h2{
    color: red;
    margin-bottom: 30px;
}



#walogo {
    height: 200px;
    width: 200px;
    float: left;
}

#wabutt{
    margin-left: 25px;

}


#fblogo{
    height: 200px;
    width: 200px;
    float: left;
}

#fbbutt{
    margin-left: 25px;
}

#iglogo {
    height: 200px;
    width: 200px;
    float: left;
}

#igbutt{
    margin-left: 25px;
}

#dclogo {
    height: 200px;
    width: 200px;
    float: left;
}

#dcbutt{
    margin-left: 25px;
}
