header{
    background-color: grey;
}

body{
    background-color: black;
}

footer{
    background-color: grey;
}
p{
    color: white;
}

h1{
    color: white;
}

a{
    color: white;
}

label{
    color: white;
}

#p1{
    column-rule-color: yellow;
    size: 100;
    color:red;
}

sub{
    size: 1;
    color: orange;
}
